a { text-decoration: none; }
h1, h2, h3, h4, h5, h6, pre, code, li, p {
	font-size: 1em;
	font-weight: normal;
}
ul, ol, dl, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input, td, th, textarea, abbr, code{
	padding: 0;
	margin: 0;
    font-family: inherit;
    border: 0;
}
a img, a:link img, a:visited img, a:hover img, a:visited:hover img {
	border: 0;
}
li {
    list-style: none;
}
a {
    color: #529AA7;
}
a:hover {
	color: #85B5B6;
}
body {
    font-family: "Lucida Grande";
    font-size: 11px;
	float: left;
	width: 100%;
	margin-bottom: 2em;
    background: #FBF4D5;
    color: #333;
}
#content p {
    margin-bottom: 1em;
    line-height: 140%;
}
#content li {
    margin-bottom: .5em;
    line-height: 130%;
}
.ss-form-container {
    width: 500px;
    margin: 0 auto;
}
input.ss-q-short, textarea.ss-q-long {
    border: 1px solid #ccc;
    padding: 3px;
    margin-top: .5em;
}
input#ss-submit {
    font-size: 18px;
    padding: 5px 9px;
    background: #F5E190;
    color: #999;
    cursor: pointer;
}
textarea.ss-q-long {
    width: 500px;
    height: 50px;
}
.ss-required-asterisk {
    color: #e53d3d;
}
.ss-form-entry {
    margin-top: 2em;
}
.ss-q-title {
    font-weight: bold;
    width: 500px;
}
#content ul {
    list-style: circle;
}
#header {
    background: #F5E190;
    border-top: 6px solid #85B5B6;
    padding-top: 39px;
    padding-bottom: 35px;
}
h1 a {
    width: 341px;
    height: 94px;
    display: block;
    background: url(logo.png);
    margin: 0 auto 0 auto;
}
h1 span {
    display: none;
}
@font-face {
    font-family: 'londonmmregular';
    src: url('londonmm-webfont.eot');
    src: url('londonmm-webfont.eot?#iefix') format('embedded-opentype'),
         url('londonmm-webfont.woff') format('woff'),
         url('londonmm-webfont.ttf') format('truetype'),
         url('londonmm-webfont.svg#londonmmregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h2 {
    font-family: "londonmmregular", "Lucida Grande", sans-serif;
    font-size: 28px;
    color: #666666;
    margin-bottom: .6em;
    margin-top: 1.5em;
    text-transform: lowercase;
}
h2 span {
    font-size: 12px;
    font-family: "Lucida Grande", sans-serif;
    color: #aaa;
    margin-left: 5px;
}
#navigation {
    width: 100%;
    float: left;
    background: #FBF4D5;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    text-align:center;
    height: 42px;
}
#navigation-margin {
    display: inline-block;
    *display:inline;/* IE*/
    *zoom:1;/* IE*/
}
#navigation a {
    text-transform: uppercase;
    font-size: 1.2em;
    float: left;
    padding: 13px 18px 13px 18px;
    border-right: 4px solid white;
}
body.aboutus #navigation a.aboutus,
body.thewedding #navigation a.thewedding,
body.photos #navigation a.photos,
body.weddingparty #navigation a.weddingparty,
body.accommodations #navigation a.accommodations { background:#F5E190; }
#navigation li.first a {
    border-left: 4px solid white;
}
#navigation li {
    float: left;
}
#banner {
    width: 100%;
    height: 262px;
    float: left;
    background: url(pattern.png);
    margin-bottom: 40px;
}
#banner .image {
    width: 790px;
    height: 262px;
    margin: 0 auto;
    background: url(banner-aboutus.jpg);
}
body.thewedding #banner .image { background: url(banner-thewedding.jpg) }
body.thewedding #banner { background: url(patternlight.png) }
body.photos #banner .image { background: url(banner-photos.jpg) }
body.weddingparty #banner .image { background: url(banner-weddingparty.jpg) }
body.accommodations #banner .image { background: url(banner-accommodations.jpg) }
body.homepage #banner, body.homepage #navigation, body.thankyou #banner {
    display: none;
}
body.photos #banner, body.weddingparty #banner {
    margin-bottom: 50px;
}
body.thankyou #content h2 { padding-top: .9em; }
#content {
    background: #fff;
    font-size: 12px;
    padding: 23px 0;
}
#content-margins {
    width: 700px;
    margin: 0 auto 40px auto;
}
body.homepage #content-margins { width: auto; margin-bottom: 0; }
#home-buttons {
    width: 804px;
    height: 482px;
    position: relative;
    margin: 0 auto 0 auto;
}
#home-buttons .button {
    position: absolute;
}
#home-buttons .button.about { left: 0; top: 0; }
#home-buttons .button.weddingparty { left: 0; top: 328px; }
#home-buttons .button.wedding { left: 269px; top: 0; }
#home-buttons .button.photos { left: 539px; top: 0; }
#home-buttons .button.accommodations { left: 539px; top: 328px; }
body.photos #banner {

}
.wedding-party-photo {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 10px solid #fff;
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.33);
    -moz-box-shadow:    1px 1px 7px rgba(0, 0, 0, 0.33);
    box-shadow:         1px 1px 7px rgba(0, 0, 0, 0.33);
}
body.weddingparty #content .separator {
    margin-bottom: 2em;
    clear: both;
}
body.weddingparty #content h2 {
    margin-top: 0;
    margin-bottom: .3em;
}
body.weddingparty #content p {
    
}
body.photos img {
    clear: both;
    border: 16px solid #fff;
    -webkit-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.33);
    -moz-box-shadow:    1px 1px 11px rgba(0, 0, 0, 0.33);
    box-shadow:         1px 1px 11px rgba(0, 0, 0, 0.33);
    margin: 15px auto 55px auto;
    display: block;
}
#footer {
    padding-top: 50px;
    padding-bottom: 60px;
}
#tweetbubble {
    width: 472px;
    height: 52px;
    margin: 0 auto 0 auto;
    background: url(tweetbubble.png);
    color: #999;
}
#tweetbubble .text {
    margin-left: 65px;
    margin-right: 20px;
    padding-top: 10px;
    line-height: 140%;
}
#tweetbubble .more {
    text-align: right;
    margin-right:20px;
    margin-top: 15px;
}
#tweetbubble .more a {
    color: #e8cc71;
}