a { text-decoration: none; }
h1, h2, h3, h4, h5, h6, pre, code, li, p {
	font-size: 1em;
	font-weight: normal;
}
ul, ol, dl, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre,
form, body, html, p, blockquote, fieldset, input, td, th, textarea, abbr, code{
	padding: 0;
	margin: 0;
    font-family: inherit;
    border: 0;
}
a img, a:link img, a:visited img, a:hover img, a:visited:hover img {
	border: 0;
}
li {
    list-style: none;
}
a {
    color: #529AA7;
}
a:hover {
	color: #85B5B6;
}
body {
    font-family: "Lucida Grande";
    font-size: 11px;
	float: left;
	width: 100%;
	margin-bottom: 2em;
    background: #FBF4D5;
}
p {
    margin-bottom: 1em;
}
li {
    margin-bottom: .5em;
}
.ss-form-container {
    width: 500px;
    margin: 0 auto;
}
input.ss-q-short, textarea.ss-q-long {
    border: 1px solid #ccc;
    padding: 3px;
    margin-top: .5em;
}
input#ss-submit {
    font-size: 18px;
    padding: 5px 9px;
    background: #F5E190;
    color: #999;
    cursor: pointer;
}
textarea.ss-q-long {
    width: 500px;
    height: 50px;
}
.ss-required-asterisk {
    color: #e53d3d;
}
.ss-form-entry {
    margin-top: 2em;
}
.ss-q-title {
    font-weight: bold;
    width: 500px;
}
#content ul {
    list-style: circle;
}
#header {
    background: #F5E190;
    border-top: 6px solid #85B5B6;
    padding-top: 39px;
    padding-bottom: 35px;
}
h1 a {
    width: 341px;
    height: 94px;
    display: block;
    background: url(logo.png);
    margin: 0 auto 0 auto;
}
h1 span {
    display: none;
}
h2 {
    font-size: 18px;
    margin-bottom: .8em;
    margin-top: 2em;
}
#navigation {
    width: 100%;
    float: left;
    background: #FBF4D5;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    height:42px;
}
#navigation-margin {
    margin: 0 auto 0 auto;
    width: 650px;
}
#navigation a {
    text-transform: uppercase;
    font-size: 13px;
    float: left;
    padding: 13px 18px;
    border-right: 4px solid white;
}
body.aboutus #navigation a.aboutus,
body.thewedding #navigation a.thewedding,
body.photos #navigation a.photos,
body.weddingparty #navigation a.weddingparty,
body.accommodations #navigation a.accommodations { background:#F5E190; }
#navigation li.first a {
    border-left: 4px solid white;
}
#navigation li {
    float: left;
}
#banner {
    width: 100%;
    height: 262px;
    float: left;
    background: url(pattern.png);
    margin-bottom: 23px;
}
#banner .image {
    width: 790px;
    height: 262px;
    margin: 0 auto;
    background: url(banner-aboutus.jpg);
    border-right: 4px solid white;
    border-left: 4px solid white;
}
body.thewedding #banner .image { background: url(banner-thewedding.jpg) }
body.thewedding #banner { background: url(patternlight.png) }
body.photos #banner .image { background: url(banner-photos.jpg) }
body.weddingparty #banner .image { background: url(banner-weddingparty.jpg) }
body.accommodations #banner .image { background: url(banner-accommodations.jpg) }
body.homepage #banner, body.homepage #navigation, body.thankyou #banner {
    display: none;
}
#content {
    background: #fff;
    font-size: 12px;
    padding: 23px 0;
}
#content-margins {
    width: 791px;
    margin: 0 auto;
}
body.homepage #content-margins { width: auto }
#home-buttons {
    width: 804px;
    height: 482px;
    position: relative;
    margin: 0 auto 0 auto;
}
#home-buttons .button {
    position: absolute;
}
#home-buttons .button.about { left: 0; top: 0; }
#home-buttons .button.weddingparty { left: 0; top: 328px; }
#home-buttons .button.wedding { left: 269px; top: 0; }
#home-buttons .button.photos { left: 539px; top: 0; }
#home-buttons .button.accommodations { left: 539px; top: 328px; }
#footer {
    padding-top: 50px;
    padding-bottom: 60px;
}
#tweetbubble {
    width: 472px;
    height: 52px;
    margin: 0 auto 0 auto;
    background: url(tweetbubble.png);
    color: #999;
}
#tweetbubble .text {
    margin-left: 65px;
    margin-right: 20px;
    padding-top: 10px;
    line-height: 140%;
}
#tweetbubble .more {
    text-align: right;
    margin-right:20px;
    margin-top: 15px;
}
#tweetbubble .more a {
    color: #e8cc71;
}