<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="k-3YBDP4RjVq6OKALmfcHPWnVtSaEc8887dFqPufUZc" />
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <meta name="description" content="">
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&amp;subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>
<body id="page">
    Gracie &amp; Weien - March 22, 2013<br>
    ----
    {{content}}
    
</body>
</html>