<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/resources/styles.css" type="text/css">
    <meta name="description" content="Gracie and Weien's wedding site.">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <title>{{page.title}}</title>
</head>
<body id="page" class="{{page.pagetype}}">
    <div id="header">
        <h1><a href="/"><span>Gracie &amp; Weien</span></a></h1>
    </div>
    <div id="content"><div id="content-margins">
        
        <div class="ss-form-container">
        <div class="ss-form-heading"><h2>Wedding Reception RSVP</h2>
        <p></p>
        <div class="ss-form-desc ss-no-ignore-whitespace">Please use this form to RSVP to our wedding reception, which will take place after the wedding 
            at 6PM at DiNolfo's Banquets of Homer Glen.</div>

        <hr class="ss-email-break" style="display:none;">
        <div class="ss-required-asterisk">* Required</div></div>
        <div class="ss-form">
            
            <script type="text/javascript">var submitted=false;</script>
            <iframe name="hidden_iframe" id="hidden_iframe"
            style="display:none;" onload="if(submitted)
            {window.location='/thankyou';}"></iframe>
            <form action="https://docs.google.com/forms/d/16fWl2uEJLgA0nkLel-a6B42UzsE-XNCGU9CYYDZyUmQ/formResponse" method="post"
            target="hidden_iframe" onsubmit="submitted=true;">

        <div class="errorbox-good">
        <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1031709313"><div class="ss-q-title">How many will be attending the dinner reception?
        <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        <span class="ss-required-asterisk">*</span></div>
        <div class="ss-q-help" dir="ltr"></div></label>
        <input type="text" name="entry.1031709313" value="" class="ss-q-short" id="entry_1031709313" dir="auto" aria-required="true">
        </div></div></div> <div class="errorbox-good">
        <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1723560922"><div class="ss-q-title">What are the names of those attending?
        <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
        <span class="ss-required-asterisk">*</span></div>
        <div class="ss-q-help" dir="ltr">Please list full names.</div></label>
        <textarea name="entry.1723560922" rows="8" cols="0" class="ss-q-long" id="entry_1723560922" dir="auto" aria-required="true"></textarea>
        </div></div></div> <div class="errorbox-good">
        <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_396535369"><div class="ss-q-title">Will there be any children under the age of 12 in your group?
        </div>
        <div class="ss-q-help" dir="ltr">If so, how many?</div></label>
        <input type="text" name="entry.396535369" value="" class="ss-q-short" id="entry_396535369" dir="auto">
        </div></div></div> <div class="errorbox-good">
        <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2070078682"><div class="ss-q-title">Are there any dietary restrictions (e.g. require vegetarian meal, allergies, etc.) that we should know about?
        </div>
        <div class="ss-q-help" dir="ltr">If so, please list.</div></label>
        <textarea name="entry.2070078682" rows="8" cols="0" class="ss-q-long" id="entry_2070078682" dir="auto"></textarea>
        </div></div></div> <div class="errorbox-good">
        <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_811913054"><div class="ss-q-title">Other comments?
        </div>
        <div class="ss-q-help" dir="ltr"></div></label>
        <textarea name="entry.811913054" rows="8" cols="0" class="ss-q-long" id="entry_811913054" dir="auto"></textarea>
        </div></div></div>
        <input type="hidden" name="draftResponse" value="[]
        ">
        <input type="hidden" name="pageHistory" value="0">


        <div class="ss-item ss-navigate"><div class="ss-form-entry">
        <input type="submit" name="submit" value="Submit" id="ss-submit"></div></div></form></div>

        <script type='text/javascript' src='/static/forms/client/js/954487672-formviewer_prd.js'></script>
        <script type="text/javascript">_initFormViewer();</script>
    
    </div></div>
    <div id="footer">

    </div>
</body>
</html>