<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/resources/styles.css" type="text/css">
    <meta name="description" content="Gracie and Weien's wedding site.">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <title>{{page.title}}</title>
    
    <script type="text/javascript">
        window.onload = function() {
            var eSelect = document.getElementById('entry_1031709313');
            var attendingDetails = document.getElementById('attending');
            eSelect.onchange = function() {
                if(!(eSelect.selectedIndex === 0) && !(eSelect.selectedIndex === 1)) {
                    attendingDetails.style.display = 'block';
                } else {
                    attendingDetails.style.display = 'none';
                }
            }
        }
      </script>
</head>
<body id="page" class="{{page.pagetype}}">
    <div id="header">
        <h1><a href="/"><span>Gracie &amp; Weien</span></a></h1>
    </div>
    <div id="content"><div id="content-margins">
        
        <div class="ss-form-container">
            <div class="ss-form-heading">
                <h2>RSVP: Wedding Reception</h2>
                <div class="ss-form-desc ss-no-ignore-whitespace">Please use this form to respond to our wedding reception (even if you can&#39;t make it), which will take place at 6PM at DiNolfo&#39;s Banquets of Homer Glen.</div>
                <hr class="ss-email-break" style="display:none;">
            </div>
            <div class="ss-form">
            
                <script type="text/javascript">var submitted=false;</script>
                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/thankyou';}"></iframe>
                <form action="https://docs.google.com/forms/d/16fWl2uEJLgA0nkLel-a6B42UzsE-XNCGU9CYYDZyUmQ/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">

                <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-text">
                        <div class="ss-form-entry"><label class="ss-q-item-label" for="entry_295133874">
                            <div class="ss-q-title">Hi there! Who is filling out this form?</div>
                            <div class="ss-q-help" dir="ltr">Enter your name/family&#39;s name (e.g. &quot;John Doe&quot; or &quot;The Smiths in Lemont&quot;)</div></label>
                            <input type="text" name="entry.295133874" value="" class="ss-q-short" id="entry_295133874" dir="auto">
                </div></div></div> 
                <div class="errorbox-good">
                <div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1031709313"><div class="ss-q-title">How many will be attending the dinner reception?
                </div>
                <div class="ss-q-help" dir="ltr"></div></label>
                <select name="entry.1031709313" id="entry_1031709313"><option value=""></option>
                <option value="0">0 (Not Attending)</option> <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option></select></div></div></div> 
            
                <div style="display:none" id="attending">
                
                    <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_1723560922"><div class="ss-q-title">What are the names of those attending?
                    </div>
                    <div class="ss-q-help" dir="ltr">Please list full names.</div></label>
                    <textarea name="entry.1723560922" rows="8" cols="0" class="ss-q-long" id="entry_1723560922" dir="auto"></textarea>
                    </div></div></div> <div class="errorbox-good">
                    <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_2070078682"><div class="ss-q-title">Are there any dietary restrictions (e.g. vegetarian, allergies, etc.) that we should know about?
                    </div>
                    <div class="ss-q-help" dir="ltr"></div></label>
                    <textarea name="entry.2070078682" rows="8" cols="0" class="ss-q-long" id="entry_2070078682" dir="auto"></textarea>
                    </div></div></div>
            
                </div>
            
                <div class="errorbox-good">
                <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry"><label class="ss-q-item-label" for="entry_811913054"><div class="ss-q-title">Comments
                </div>
                <div class="ss-q-help" dir="ltr"></div></label>
                <textarea name="entry.811913054" rows="8" cols="0" class="ss-q-long" id="entry_811913054" dir="auto"></textarea>
                </div></div></div>
                <input type="hidden" name="draftResponse" value="[]">
                <input type="hidden" name="pageHistory" value="0">

            <div class="ss-item ss-navigate"><div class="ss-form-entry">
            <input type="submit" name="submit" value="Submit" id="ss-submit"></div></div></form></div>

            <script type='text/javascript' src='/static/forms/client/js/954487672-formviewer_prd.js'></script>
            <script type="text/javascript">_initFormViewer();</script>
    
    </div></div>
    <div id="footer" style="padding-top: 46px; padding-bottom: 0">

    </div>
</body>
</html>